*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.snm
*.Rhistory
*.pyc
shiny/GP-explorer/rsconnect
